@{
    ViewData["Title"] = "About";

    //<h3>@ViewData["Message"]</h3>
}
<h2>@ViewData["Title"]</h2>


<br/>

<a href="https://github.com/noescape00/FNWatchTool"><img width="80" src="~/images/logo-github.svg"></a>

