<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WatchTool.Server.Dashboard</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>



<body>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)

    <nav class="navbar fixed-top navbar-dark bg-dark">

        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WatchTool Dashboard</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
            </li>
        </ul>

        <span class="navbar-text">
            WatchTool.Server.Dashboard - v0.01
        </span>
    </nav>

    <div class="container col-xl">
        <br />
        @RenderBody()
    </div>
</body>
</html>
